ignore-workspace-root-check = true
link-workspace-packages = true
prefer-local = true
shared-workspace-lockfile = true
use-lockfile-v6 = true
auto-install-peers = true
dedupe-peer-dependents = true
resolve-peers-from-workspace-root = true
save-workspace-protocol = rolling
resolution-mode = lowest-direct
package-import-method=auto


